<div class="container">
  <h2>SIGN IN</h2>
  <form (ngSubmit)="OnFormSubmit()" [formGroup]="authForm">
    <mat-card class="signup">
      <app-input
        label="username"
        [control]="authForm.get('username')"
        inputType="text"
      ></app-input>
      <app-input
        label="Password"
        [control]="authForm.get('password')"
        inputType="password"
      ></app-input>
      <div
        *ngIf="authForm.get('password')?.touched && authForm.errors"
        class="ui red basic label"
      >
        <p *ngIf="authForm.hasError('Credentials')">
          Invalid Credentails. Please try again.
        </p>
      </div>
      <div>
        <button mat-raised-button color="primary" class="formField">
          Login
        </button>
      </div>
    </mat-card>
  </form>
</div>
